interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cloud.iexapis.com/stable/stock/market/financials?symbols=aapl%2Cintc
  response:
    body:
      string: '[{"symbol":"AAPL","financials":[{"EBITDA":17477000000,"accountsPayable":42296000000,"capitalSurplus":null,"cashChange":-2082000000,"cashFlow":80674000000,"cashFlowFinancing":-86820000000,"changesInInventories":83000000,"changesInReceivables":5370000000,"commonStock":50779000000,"costOfRevenue":40009000000,"currency":"USD","currentAssets":143713000000,"currentCash":90943000000,"currentDebt":13769000000,"currentLongTermDebt":13769000000,"depreciation":11056000000,"dividendsPaid":null,"ebit":14775000000,"exchangeRateEffect":null,"filingType":"10-K","fiscalDate":"2020-09-26","fiscalQuarter":4,"fiscalYear":2020,"goodwill":0,"grossProfit":24689000000,"incomeTax":2228000000,"intangibleAssets":0,"interestIncome":634000000,"inventory":4061000000,"investingActivityOther":null,"investments":null,"longTermDebt":98667000000,"longTermInvestments":180175000000,"minorityInterest":0,"netBorrowings":10229000000,"netIncome":12673000000,"netIncomeBasic":12673000000,"netTangibleAssets":65339000000,"operatingExpense":49923000000,"operatingIncome":14775000000,"operatingRevenue":64698000000,"otherAssets":42522000000,"otherCurrentAssets":11264000000,"otherCurrentLiabilities":49327000000,"otherIncomeExpenseNet":0,"otherLiabilities":54490000000,"pretaxIncome":14901000000,"propertyPlantEquipment":36766000000,"receivables":37445000000,"reportDate":"2020-10-30","researchAndDevelopment":4978000000,"retainedEarnings":14966000000,"revenue":64698000000,"sellingGeneralAndAdmin":4936000000,"shareholderEquity":65339000000,"shortTermDebt":13769000000,"shortTermInvestments":11264000000,"symbol":"AAPL","totalAssets":323888000000,"totalCash":90943000000,"totalDebt":112436000000,"totalInvestingCashFlows":-4289000000,"totalLiabilities":258549000000,"totalRevenue":64698000000,"treasuryStock":0,"id":"FINANCIALS","key":"AAPL","subkey":"quarterly","date":1601078400000,"updated":1608330865000}]},{"symbol":"INTC","financials":[{"EBITDA":8157000000,"accountsPayable":5159000000,"capitalSurplus":null,"cashChange":-7562000000,"cashFlow":25494000000,"cashFlowFinancing":-11220000000,"changesInInventories":304000000,"changesInReceivables":-301000000,"commonStock":23335000000,"costOfRevenue":8592000000,"currency":"USD","currentAssets":36785000000,"currentCash":18253000000,"currentDebt":504000000,"currentLongTermDebt":504000000,"depreciation":9236000000,"dividendsPaid":null,"ebit[...]
