interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cloud.iexapis.com/stable/crypto/BTCUSD/quote
  response:
    body:
      string: '{"symbol":"BTCUSD","primaryExchange":"","sector":"cryptocurrency","calculationPrice":"realtime","high":null,"low":null,"latestPrice":"34481.69","latestSource":"Real
        time price","latestUpdate":1609906199697,"latestVolume":"0.02844988","previousClose":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '2'
      iexcloud-premium-messages-used:
      - '0'
    status:
      code: 200
      message: OK
version: 1
