interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cloud.iexapis.com/stable/stock/market/advanced-stats?symbols=aapl%2Cintc
  response:
    body:
      string: '[{"beta":1.1583148706741777,"totalCash":90943000000,"currentDebt":105392000000,"revenue":274515000000,"grossProfit":104956000000,"totalRevenue":274515000000,"EBITDA":77344000000,"revenuePerShare":16.15,"revenuePerEmployee":2003759.12,"debtToEquity":4.957039440456695,"profitMargin":0.20913611278072236,"enterpriseValue":2221696196820,"enterpriseValueToRevenue":8.09,"priceToSales":8.01,"priceToBook":33.67,"forwardPERatio":32.51298148331731,"pegRatio":3.747175831234083,"peHigh":40.896082358164755,"peLow":16.509482543418486,"week52highDate":"2020-12-28","week52lowDate":"2020-03-23","putCallRatio":0.32102045452863137,"companyName":"Apple
        Inc","marketcap":2200203196820,"week52high":136.69,"week52low":55.74,"week52change":0.7415282007528095,"sharesOutstanding":17001802000,"float":null,"avg10Volume":116880832,"avg30Volume":110115689,"day200MovingAvg":113.38,"day50MovingAvg":124.5,"employees":null,"ttmEPS":3.28,"ttmDividendRate":0.8052302508604918,"dividendYield":0.006222318606448434,"nextDividendDate":null,"exDividendDate":"2020-11-06","nextEarningsDate":null,"peRatio":38.32372187943077,"maxChangePercent":48.5102915295738,"year5ChangePercent":4.303492903950264,"year2ChangePercent":2.574496529360259,"year1ChangePercent":0.7554068865232064,"ytdChangePercent":-0.02471927048006628,"month6ChangePercent":0.42667836731814,"month3ChangePercent":0.14699349614537138,"month1ChangePercent":0.0585685071574642,"day30ChangePercent":0.0585685071574642,"day5ChangePercent":-0.053259199648840405},{"beta":1.184434651052437,"totalCash":18253000000,"currentDebt":22112000000,"revenue":78098000000,"grossProfit":44142000000,"totalRevenue":78098000000,"EBITDA":24892000000,"revenuePerShare":19.06,"revenuePerEmployee":704855.6,"debtToEquity":1.9483998175818869,"profitMargin":0.28101872006965606,"enterpriseValue":221857660000,"enterpriseValueToRevenue":2.84,"priceToSales":2.61,"priceToBook":2.73,"forwardPERatio":10.195217843657758,"pegRatio":0.46761303215901306,"peHigh":13.0[...]
