interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cloud.iexapis.com/stable/stock/market/income?symbols=aapl%2Cintc
  response:
    body:
      string: '[{"symbol":"AAPL","income":[{"costOfRevenue":40009000000,"currency":"USD","ebit":14775000000,"filingType":"10-K","fiscalDate":"2020-09-26","fiscalQuarter":4,"fiscalYear":2020,"grossProfit":24689000000,"incomeTax":2228000000,"interestIncome":634000000,"minorityInterest":0,"netIncome":12673000000,"netIncomeBasic":12673000000,"operatingExpense":49923000000,"operatingIncome":14775000000,"otherIncomeExpenseNet":0,"pretaxIncome":14901000000,"reportDate":"2020-10-30","researchAndDevelopment":4978000000,"sellingGeneralAndAdmin":4936000000,"symbol":"AAPL","totalRevenue":64698000000,"id":"INCOME","key":"AAPL","subkey":"quarterly","date":1601078400000,"updated":1608330865000}]},{"symbol":"INTC","income":[{"costOfRevenue":8592000000,"currency":"USD","ebit":5034000000,"filingType":"10-Q","fiscalDate":"2020-09-26","fiscalQuarter":3,"fiscalYear":2020,"grossProfit":9741000000,"incomeTax":765000000,"interestIncome":107000000,"minorityInterest":0,"netIncome":4276000000,"netIncomeBasic":4276000000,"operatingExpense":13299000000,"operatingIncome":5034000000,"otherIncomeExpenseNet":0,"pretaxIncome":5041000000,"reportDate":"2020-10-23","researchAndDevelopment":3272000000,"sellingGeneralAndAdmin":1435000000,"symbol":"INTC","totalRevenue":18333000000,"id":"INCOME","key":"INTC","subkey":"quarterly","date":1601078400000,"updated":1608330865000}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '2000'
      iexcloud-premium-messages-used:
      - '0'
    status:
      code: 200
      message: OK
version: 1
