interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cloud.iexapis.com/stable/stock/market/cash-flow?symbols=aapl%2Cintc
  response:
    body:
      string: '[{"symbol":"AAPL","cashflow":[{"capitalExpenditures":-7309000000,"cashChange":-2082000000,"cashFlow":80674000000,"cashFlowFinancing":-86820000000,"changesInInventories":83000000,"changesInReceivables":5370000000,"currency":"USD","depreciation":11056000000,"dividendsPaid":null,"exchangeRateEffect":null,"filingType":"10-K","fiscalDate":"2020-09-26","fiscalQuarter":4,"fiscalYear":2020,"investingActivityOther":null,"investments":null,"netBorrowings":10229000000,"netIncome":12673000000,"otherFinancingCashFlows":null,"reportDate":"2020-10-30","symbol":"AAPL","totalInvestingCashFlows":-4289000000,"id":"CASH_FLOW","key":"AAPL","subkey":"quarterly","date":1601078400000,"updated":1608330864000}]},{"symbol":"INTC","cashflow":[{"capitalExpenditures":-10392000000,"cashChange":-7562000000,"cashFlow":25494000000,"cashFlowFinancing":-11220000000,"changesInInventories":304000000,"changesInReceivables":-301000000,"currency":"USD","depreciation":9236000000,"dividendsPaid":null,"exchangeRateEffect":null,"filingType":"10-Q","fiscalDate":"2020-09-26","fiscalQuarter":3,"fiscalYear":2020,"investingActivityOther":null,"investments":null,"netBorrowings":16191000000,"netIncome":4276000000,"otherFinancingCashFlows":null,"reportDate":"2020-10-23","symbol":"INTC","totalInvestingCashFlows":-15112000000,"id":"CASH_FLOW","key":"INTC","subkey":"quarterly","date":1601078400000,"updated":1608330864000}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '2000'
      iexcloud-premium-messages-used:
      - '0'
    status:
      code: 200
      message: OK
version: 1
