interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cloud.iexapis.com/stable/stock/market/estimates?symbols=aapl%2Cintc
  response:
    body:
      string: '[{"symbol":"AAPL","estimates":[{"announceTime":null,"consensusEPS":0.87,"currency":"USD","fiscalEndDate":"2021-03-31","fiscalPeriod":"Q2
        2021","numberOfEstimates":28,"periodType":"quarterly","reportDate":null,"symbol":"AAPL","id":"PREMIUM_ESTIMATES","key":"AAPL","subkey":"Q22021","date":1617148800000,"updated":1609300812000}]},{"symbol":"INTC","estimates":[{"announceTime":null,"consensusEPS":0.96,"currency":"USD","fiscalEndDate":"2021-03-31","fiscalPeriod":"Q1
        2021","numberOfEstimates":23,"periodType":"quarterly","reportDate":null,"symbol":"INTC","id":"PREMIUM_ESTIMATES","key":"INTC","subkey":"Q12021","date":1617148800000,"updated":1609473691000}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '0'
      iexcloud-premium-messages-used:
      - '20000'
    status:
      code: 200
      message: OK
version: 1
