interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cloud.iexapis.com/stable/stock/market/company?symbols=aapl%2Cintc
  response:
    body:
      string: '[{"symbol":"AAPL","companyName":"Apple Inc","exchange":"NASDAQ/NGS
        (GLOBAL SELECT MARKET)","industry":"Electronic Computer Manufacturing ","website":"https://www.apple.com/","description":"","CEO":"Timothy
        Cook","securityName":"Apple Inc","issueType":"cs","sector":"Manufacturing","primarySicCode":3571,"employees":null,"tags":["Electronic
        Technology","Telecommunications Equipment","Manufacturing","Electronic Computer
        Manufacturing "],"address":"1 Apple Park Way","address2":null,"state":"California","city":"Cupertino","zip":"95014-0642","country":"US","phone":"14089961010"},{"symbol":"INTC","companyName":"Intel
        Corp.","exchange":"NASDAQ/NGS (GLOBAL SELECT MARKET)","industry":"Semiconductor
        and Related Device Manufacturing ","website":"https://www.intel.com/","description":"","CEO":"Robert
        Swan","securityName":"Intel Corp.","issueType":"cs","sector":"Manufacturing","primarySicCode":3674,"employees":null,"tags":["Electronic
        Technology","Semiconductors","Manufacturing","Semiconductor and Related Device
        Manufacturing "],"address":"2200 Mission College Blvd","address2":null,"state":"California","city":"Santa
        clara","zip":"95054-1537","country":"US","phone":"14087658080"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '2'
      iexcloud-premium-messages-used:
      - '0'
    status:
      code: 200
      message: OK
version: 1
