interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.polygon.io/v2/reference/markets
  response:
    body:
      string: '{"status":"OK","results":[{"market":"STOCKS","desc":"Stocks / Equities
        / ETFs"},{"market":"INDICES","desc":"Indices"},{"market":"MF","desc":"Mutual
        Funds"},{"market":"MMF","desc":"Money Market Funds"},{"market":"CRYPTO","desc":"Crypto"},{"market":"FX","desc":"Forex
        / Currencies"},{"market":"BONDS","desc":"Bonds"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
