interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cloud.iexapis.com/stable/ref-data/crypto/symbols
  response:
    body:
      string: '[{"symbol":"BTCUSD","name":"Bitcoin to USD","exchange":null,"date":"2021-01-05","type":"crypto","region":"US","currency":"USD","isEnabled":true},{"symbol":"ETHUSD","name":"Ethereum
        to USD","exchange":null,"date":"2021-01-05","type":"crypto","region":"US","currency":"USD","isEnabled":true},{"symbol":"ETHBTC","name":"Ethereum
        to Bitcoin","exchange":null,"date":"2021-01-05","type":"crypto","region":"US","currency":"BTC","isEnabled":true},{"symbol":"ZECUSD","name":"Zcash
        to USD","exchange":null,"date":"2021-01-05","type":"crypto","region":"US","currency":"USD","isEnabled":true},{"symbol":"ZECBTC","name":"Zcash
 [...]
